/* @theme leiwuinfo_slide */

@import 'gaia';

section {
    background-color: #fff;
    color: #333;
}

section.split {
    overflow: visible;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "slideheading slideheading"
        "leftpanel rightpanel";
}

section.split h1,
section.split .ldiv,
section.split .rdiv {
    /* change the color below to #000 to see the border */
    border: 1.5pt dashed #fff;
}

section.split h1 {
    grid-area: slideheading;
}

section.split .ldiv {
    grid-area: leftpanel;
}

section.split .rdiv {
    grid-area: rightpanel;
}